html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  text-transform: capitalize;
  
}
::-webkit-scrollbar {
  width: 0px;
}

html{
}

body{
  background-color:#0e6ba8;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container{
max-width: 1400px; 
margin: auto;
width: 100%;

}
.layout{
  padding: 10px;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}
.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

 span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}
.logo{
  color: white;
  font-size: 18px;
  letter-spacing: .8px;

}
.cart-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover{
  transform: scale(1.1,1.1);
}

svg{
  color: orange;
}

.cart-item-qty{
  position: absolute;
  right: -5px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 17px;
  height: 17px;
  font-weight: 600;
  border-radius: 50%;

}
.products-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  margin-top:3rem;
  gap:80px 35px;

  
}
.product-card{
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;

}
.product-card:hover{
  transform: scale(1.1,1.1)
}
.product-image{
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  padding: 10px;
}

.product-name{
  color: white;
  font-weight: 500;
}
.product-price{
  font-weight: 800;
  margin-top: 6px;
  color:orangered;
  background-color: #034780;
  width: fit-content;
  padding:3px 15px;
  border-radius: 8px;
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  letter-spacing: .8px;
  }


.hero-banner-container{
  padding: 100px 40px;
  background-color: #034780;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9; 
  width: 100%;

}
.hero-banner-container .beats-solo{
  font-size: 20px;
  color:white;
  font-weight: 700;
  background-color: #0e6ba8;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 5px;
}

.hero-banner-container h3{
  color: #991e66;
}

.hero-banner-container button{
  border-radius: 8px;
  padding: 10px 16px;
  background-color: #991e66;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
  transition: all .5s ease-in-out;
}
.hero-banner-container button:hover{
  transform: scale(1.2);
}


.hero-banner-container h3{
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1{
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image{
  position: absolute;
  top: 0%;
  right:15%;
  width: 450px;
  height: 450px;
  transition: all .5s ease-in-out;
}
.hero-banner-image:hover{
 transform: scale(1.2);
}


.desc{
position: absolute;
right: 10%;
bottom: 5%;
width: 300px;
line-height: 1.3;
display: flex;
flex-direction: column;

}
.desc p{
  font-weight: 100;
  color: white;
  text-align: end;
}
.desc h4{
  color: #991e66;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.products-heading{
  text-align: center;
  margin: 40px 0px;
  color: #a6e1fa;

}
.products-heading h2{
  font-size: 40px;
  font-weight: 800;
}
.products-heading p{
  font-size: 16px;
  font-weight: 200;
}
.footer-banner-container{
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1; 
  color: white;
  width: 100%;
  margin-top: 120px;
}
.banner-desc{
  display: flex ;
  justify-content: space-between;
}
.banner-desc button{
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3{
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p{
  margin:18px;
}
.footer-banner-image{
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}
.banner-desc .right{
  line-height: 1.4;
}
.banner-desc .right h3{
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p{
  font-size: 18px;
}
.banner-desc .right .company-desc{
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}
.cart-container{
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
  
}

.footer-container{
  color: #324d67;
  text-align: center;
  margin-top: 80px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

}
.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;
}
 .cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading{
  margin-left: 10px;
}
.cart-num-items{
  margin-left: 10px;
  color: #f02d34;
}
.empty-cart{
  margin:40px;
  text-align:center;
}
.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}
.product-container{
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product{
  display: flex;
 gap: 30px;
  padding: 20px;
}
.product .cart-product-image{
  width:180px ;
  height: 150px;
    border-radius: 15px;
 background-color: #ebebeb;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
   color: #324d67;

}
.item-desc .bottom{
  margin-top: 60px;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom{
  position: absolute;
  bottom: 12px;
  right: 5px;
width: 100%;
padding: 30px 65px;

}

.btn-container{
  width: 400px;
  margin: auto;
}
.btn{
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover{
  transform: scale(1.1,1.1);
}
.product-detail-container{
 display: flex;
 gap: 40px;
 margin:10px 40px 40px;
 color: #324d67;

}

.product-detail-image{
  border-radius: 15px;
  background-color: #ebebeb;
  width: 600px;
  height: 600px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.product-detail-image:hover{
  background-color: orangered;

}
.small-images-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image{
  background-color:orangered;
}
.reviews{
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.details{
  margin-top:5rem;
}

.details h2{
  margin-bottom:2rem;
  color: orangered;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  padding: 3px 15px;
  max-width: 70%;
  margin-inline: auto;
  text-align: center;
}
.details p{
  margin-top: 10px;
  line-height: 1.5rem;
  color:white;
  max-width: 70%;
  margin-inline: auto;
}
.reviews p{
  color: orange;
  margin-top: 0px;
}

.product-detail-container h1{
  color:orangered;
  background-color: white;
  width: fit-content;
  padding: 3px 15px;
  border-radius: 8px;

}

.product-detail-desc .price{
  font-weight: 700 ;
  font-size: 26px;
  margin-top: 10px;
  color:white;
}

.stockava{
  margin: 5px 10px;
  z-index: 44 !important;
  width: fit-content;
  padding: 3px 5px;
  border-radius:2px 0 8px 0px;
  position: absolute;
  bottom:3.2rem;
  right: -.7rem;
  font-size: 8px;
  letter-spacing: .5px;
  color: white;
}

.available{
  background-color: green;
}

.outofstock{
  background-color: red;
}


.product-promo{
  background-color:orangered;
  width:fit-content;
  padding: 3px 10px;
  border-radius: 0 15px 0 6px;
  position: absolute;
  z-index: 50 !important;
  color: white;
  right: 0px;
}

.tags-container{
  margin-inline:35px ;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.tags-container button{
  cursor: pointer;
  background-color: orangered;
  border: none;
  color: white;
  padding:2px 8px;
  letter-spacing: .5px;
  border-radius: 6px;
}




.shipping{
  margin: 25px 0;
  color: white;
  background-color:orangered;
  padding:7px 25px;
  border-radius:8px;
  text-align: center;
  font-weight: bold;
}
.offer{
  color:orangered;
  background-color:white;
  padding:7px 25px;
  border-radius:8px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 30px;
}

.shipping svg,.offer svg{
  margin-inline: 10px;
  vertical-align: middle;
}


.product-option{
  margin: 10px 20px 25px;
}

.product-option li{
  padding: 8px 0;
  color: whitesmoke;
  font-size: 17px;
}

.thebest{
  margin-top: 15px;
  color: orangered;
  background-color:white;
  border-radius: 50px;
  padding: 5px 15px;
  width: fit-content;
}


.price .old-price, .product-price .old-price, .price .old-price{
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity{
  display: flex;
  gap: 20px;
  margin-top: 10px ;
  align-items: center;
}

.quantity h3{
  color: white;
  background-color:orangered;
  padding: 3px 15px;
  border-radius: 6px;
}

.product-detail-desc .buttons{
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart,.buttons .buy-now{
  border-radius: 8px;
}

.buttons .add-to-cart{
  padding: 10px 20px;
  border: 1px solid orangered ;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: orangered;
  cursor: pointer;
  width: 200px;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover{
  transform:scale(1.1,1.1)
}
.buttons .buy-now{
  width: 200px;
  padding: 10px 20px;
  background-color: orangered;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover{
  transform:scale(1.1,1.1)
}
.quantity-desc{
  border: 1px solid gray;
padding: 6px;
}
.quantity-desc span{
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus{
  border-right: 1px solid gray;
  color: #f02d34;
}
.quantity-desc .num{
  border-right: 1px solid gray;
  font-size: 20px;
  color: black;
}
.quantity-desc .plus{
  color: rgb(49, 168, 49);

}

.maylike-products-wrapper{
  margin-top: 120px;
  overflow: hidden;
}
.maylike-products-wrapper h2{
  text-align: center;
  margin: 50px;
  color: white;
  font-size: 28px;
}
.maylike-products-container{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  
}
.max-qty{
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper, .cancel-wrapper{
  background-color: white;
  min-height: 60vh;

}
.success, .cancel{
  width: 1000px;
margin: auto;
margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
   color: green;
   font-size: 40px;
}
.success h2{
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color:#324d67;
}
.success .email-msg{
   font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p{
  font-size: 20px;
  font-weight: 600;
}
.success .description{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email{
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty{
  margin-top: 10px;
}

@media screen and (max-width:800px) {
  .hero-banner-container{
    height: 560px;
  }
  .hero-banner-image{
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }
  .footer-banner-container{
    height: auto;
    margin-top: 80px;
  }
  .footer-banner-image{
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
  }
  .banner-desc .left h3{
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .banner-desc .right h3{
    font-size: 45px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
  }
  .banner-desc{
    flex-direction: column;
    gap: 30px;
  }
  .hero-banner-container{
    line-height: 1.3;
  }
  .hero-banner-container h1{
    font-size: 50px;
  }
 .hero-banner-container h3{
    font-size: 40px;
  }
  .hero-banner-container button{
    margin-top: 90px;
    z-index: 10000;
  }
  .desc{
   bottom: 60px;
  }
  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 100%;
    height: 100%;
  }
  .cart-container{
    width: 415px;
  padding: 4px;
  }
  .cart-heading{
    margin-top: 35px;
  }
  .product-container{
    grid-template-columns: 1fr 1fr;
  }
  .product{
    padding: 20px 5px;

  }
  .product .cart-product-image{
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart{
    width: 150px;
  }
  .buttons .buy-now{
    width: 150px;
  }
  .product-detail-container{
    margin: 20px;
  }

.item-desc .flex{
  width: 200px;
}
.top{
  flex-wrap: wrap;
  gap: 10px;


}
.item-desc .bottom{
  margin-top: 30px;
}
.flex h5{
  font-size: 16px;
   color: #324d67;
}
.flex h4{
  font-size: 16px;
   color: black;
}
.cart-bottom{
  padding: 30px;
}

.total h3{
  font-size: 20px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success{
  height: 350px;
}
.success h2{
  font-size: 17px;
}
.btn-container{
  width: 300px;
  margin: auto;
}
}


@media screen and (max-width:1024px) {
  .products-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-banner-container{
    height: fit-content;
  }
  .banner-desc{
    display:grid;
    grid-template-areas: 
    "header header"
    "left right"
    ;
  }
  .footer-banner-image{
    grid-area: header;
  }
  .left{
    grid-area: left;
  }
  .right{
    grid-area: right;
  }
  .footer-banner-image{
    position: relative;
  }
}
@media screen and (max-width:800px) {
  .products-container{
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
  }
  .product-card{
    width: 75vw;
    margin-inline:auto ;
  }
  .product-image{
    width: 100%;
  }
  .footer-banner-image{
    position: absolute;
  }
  .banner-desc{
    display:grid;
    grid-template-areas: 
    "left left"
    "header header"
    "right right"
    ;
  }
  .small-images-container{
    justify-content: center;
  }
  .details h2,.details p{
    max-width: 90%;
  }
  .tags-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .track{
    animation: none;
  }
  .maylike-products-container{
    grid-auto-flow: row;
    
  }
 
}